.slick-prev, .slick-next {
  font-size: 0;
  line-height: 0;
  position: absolute;
  top: 50%;
  display: block;
  width: 56px !important;
  height: 50px !important;
  padding: 0;
  transform: translate(0, -50%);
  cursor: pointer;
  color: transparent;
  border: none;
  outline: none;
  background: transparent;
}
.slick-prev:before, .slick-next:before {
  font-family: 'slick';
  font-size: 56px !important;
  line-height: 1;
  opacity: .75;
  color: white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.slick-prev {
  
  top: 330px;
  left: 50px;
  z-index: 100;
}
.slick-next {
  right: 50px;
  top: 330px ;
  z-index: 100;
}
.banner__carousel img{
  filter: grayscale(20%) contrast(80%);
}