$header-navbar-color: #35A22c;
$header-navbar-font: 18px;
$header-navbar-backgroudColor: #f6ecef;
$hover-color: rgb(135, 7, 7);
$font-family-default: "Wix Madefor Display", sans-serif;
$padding-bottom: 30px;
$color-backgroup: white;
$color-buttom: #2ecc71;
$color: #2ecc71;

.form__contact input {
    margin: 10px;
    width: 365px;
    height: 45px;

}

form.form__contact button {
    width: 755px;
    height: 40px;
    color: white;
    background-color: #2ecc71;
    transition: all 0.7s;

}
form.form__contact button:hover{
    background-color: $hover-color;
    cursor: pointer;
}

