$header-navbar-color:#f5f6fa ;
$header-navbar-font: 18px;
$header-navbar-backgroudColor: #f6ecef;
$hover-color: rgb(135, 7, 7);
$font-family-default: "Wix Madefor Display", sans-serif;
$color:#2ecc71;
$hover-backgroud-color:#2ecc71;
// <uniquifier>: Use a uniquifier for the class name
// <weight>: Use a value from 400 to 800

body {
    font-family: "Wix Madefor Display", sans-serif;

}

//css header top 
.header__top__social {

    background-color: black;
    width: 100%;
   
}

.header__main_social {
    width: 85%;
    min-height:50px;
    margin: 0 auto;
    display: flex;
    justify-content:flex-end;
    align-items: center;

}

.header__search {
    display: flex;
    position: relative;
}

.icon__header__top {
    position: absolute;
    top: 10px;
    right: 20px;
}

.header__search .icon__header__top .a {
    color: black;
}

.form__search input {
    color: white;
}

.header__social .a {
    color: white;
    padding: 0 30px;
    font-size: 1.2rem;

}
.header__social a:hover i{
    color: $hover-color;
}



//css header navbar

.header__main{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}



.header__menu {
    display: flex;

   position: fixed;
   z-index:10;
}

.header__detail nav.header__main ul li {
    padding: 0 30px;
    list-style: none;


}

.header__detail nav.header__main ul li a {
    text-decoration: none;
    font-size: $header-navbar-font;
    color: $header-navbar-color;
    font-family: $font-family-default;
    font-weight: 100;
   

}

.header__detail nav.header__main ul li.is-active .a {
    color: $hover-color;
}

.header__detail nav.header__main ul.header__menu li {
    transition: all 0.5s;
}

.header__detail nav.header__main ul.header__menu li:hover .a {
    color: $hover-color;
}

.header__detail nav.header__main ul.header__menu li::after  {
    content: "";
    background-color:$hover-color;
    width: 0;
    height: 2px;
    display: block;
    transition: all 0.8s;
}

.header__detail nav.header__main ul.header__menu li:hover::after {
    width: 100%;
    background-color: $hover-backgroud-color;
}